@font-face {
  font-family: "Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/cambay/Cambay-Regular.ttf");
}

@font-face {
  font-family: "Bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/cambay/Cambay-Bold.ttf");
}

@font-face {
  font-family: "BoldItalic";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/cambay/Cambay-BoldItalic.ttf");
}