@font-face {
  font-family: "Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/dosis/Dosis-Regular.ttf");
}

@font-face {
  font-family: "Light";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/dosis/Dosis-Light.ttf");
}

@font-face {
  font-family: "Semibold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/dosis/Dosis-SemiBold.ttf");
}

@font-face {
  font-family: "Bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/dosis/Dosis-Bold.ttf");
}

@font-face {
  font-family: "BoldItalic";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/dosis/Dosis-ExtraBold.ttf");
}