@font-face {
  font-family: "Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/puritan/Puritan-Regular.ttf");
}

@font-face {
  font-family: "Italic";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/puritan/Puritan-Italic.ttf");
}

@font-face {
  font-family: "Bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/puritan/Puritan-Bold.ttf");
}

@font-face {
  font-family: "BoldItalic";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/puritan/Puritan-BoldItalic.ttf");
}