@font-face {
    font-family: "Regular";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/questrial/Questrial-Regular.ttf");
}

@font-face {
    font-family: "Light";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/questrial/Questrial-Regular.ttf");
}

@font-face {
    font-family: "Semibold";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/questrial/Questrial-Regular.ttf");
}

@font-face {
    font-family: "Bold";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/questrial/Questrial-Regular.ttf");
}

@font-face {
    font-family: "BoldItalic";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/questrial/Questrial-Regular.ttf");
}