$color1: #6A5F60;
$color2: #fff3b0;
$color3: #D6A87F;
$color4: #c9923d;
$color5: #575946;
$color6: #394234;
$color7: #283845;
$color8: #2e342b;
$color9: #59768d;
$color10: #f7e99f;
$color11: #bd4f23;
$color12: #fcdd79;
$coloralert: #db2f2f;
$menu1: #8cba80;
$menu2: #658e9c;
$menu3: #060607;
$menu4: #514663;
$menu5: #fdf854;
$text1: #ffffff;
$fontcolor: $color8;
$bgcolor: $color4;

/*
$btncolor1: #cccccc;
$btncolor2: #dddddd;
$btncolor3: #eeeeee;
$btncolor4: #bbbbbb;
$btncolor5: #aaaaaa;
$btncolor6: #afafaf;
$btncolor7: #32954c;
$btncolor8: #779532;
*/

$sempa1: #FFF3B0;
$sempa2: #D6A87F;
$sempa3: #9E7F68;
$sempa4: #6A5F60;
$sempa5: #40373F;
$primary-color: $color1 !default;
$primary-color-light: $color2 !default;
$primary-color-dark: $color3 !default;
$secondary-color: $color4 !default;
$success-color: $color5 !default;
$error-color: $color6 !default;
$link-color: $color7 !default;