.icon-blue {
    fill: $color2;
}

.icon-red {
    fill: $coloralert;
}

.icon-textcolor {
    fill: $color9;
}

.icon20 {
    width: 2vw;
    height: 2vw;
}

.icon30 {
    width: 3vw;
    height: 3vw;
}

.icon40 {
    width: 4vw;
    height: 4vw;
}

.icon60 {
    width: 6vw;
    height: 6vw;
}