article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

body {
    margin: 0;
    font-family: Regular;
    font-size: 1vw;
    background-color: $bgcolor;
    color: $fontcolor;
}

hr {
    border: 1px solid $color5;
}

li {
    list-style: none;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
}

h1,
h2,
h3 {
    text-align: left;
}

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 2vw;
}

h3 {
    font-size: 1.5vw;
}

h4 {
    font-size: 1vw;
}