audio {
    width: 100%;
}

.btnSearch {
    width: 90%;
    background-color: $color9;
    margin-left: auto;
    margin-right: auto;
}

.playerWrap {
    width: 100%;
    padding: 0.5vw;
}

.playerWaveWrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 2px solid $sempa4;
    padding: 0.4vw;
}

.playerPlayerWrap {
    width: 95%;
}

.playerMetaWrap {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.playerMetaCover {
    width: 20%;
}

.playerMetaChart {
    margin-left: -3vw;
}

.playerMetaLegend {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1vw;
}

.playerMetaLegendItem {
    margin: 0.2vw;
    padding: 0.4vw;
    border-radius: 11%;
}

.playerMetaDesc {
    width: 50%;
    margin-left: -3vw;
}

.setsListWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.setsListWrap:hover {
    cursor: pointer;
}

.setsListItem {
    margin: 0.4vw;
    font-size: 1.1vw;
    color: $color12;
}

.filterSwitchWrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 1vw;
    padding-top: 0.4vw;
}

.filterWrap {
    position: absolute;
    top: -10vw;
    z-index: 100;
    width: 100%;
    background-color: $color14;
    left: 0;
}

.filterNav {
    display: flex;
    flex-direction: row;
    color: $color4;
}

.fiterBtnWrap {
    display: block;
    margin: 0.2vw;
}

.fiterResetBtnWrap {
    display: none;
    margin: 0.2vw;
}

.fiterBackBtnWrap {
    display: none;
    margin: 0.2vw;
}

.setsWrap {
    width: 100%;
    font-size: 0.8vw;
}

.tagBox {
    margin-left: auto;
    margin-right: auto;
    height: 10vw;
}

.tagBoxWrap {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 8vw;
    margin-left: auto;
    margin-right: auto;
    color: $fontcolor;
}

.tagTitle {
    position: absolute;
    bottom: 2vw;
    left: -0.6vw;
    transform: rotate(-90deg);
    width: 100%;
    font-size: 0.8vw;
    text-align: left;
    height: 2vw;
}

.playerSocialIcons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-top: -0.45vw;
}

.playerSocialIcons a {
    color: $color11;
}

.playerSocialIcons a:visited {
    color: $color11;
}

.playerSocialIconsPadding {
    padding: 0.2vw;
}

#player-container {
    position: fixed;
    top: -85px;
    left: 21.5%;
    width: 57%; // height: 5%;
    text-align: left; //box-shadow: 0 4px 2px -2px gray;
}

.titleWrap {
    width: 100%;
    border-top: 2px solid $color1;
    background-color: $color2;
    overflow: hidden;
    opacity: 1;
}

.playerTitle {
    font-size: 2vw;
    font-family: Bold;
    color: $color1;
    overflow: hidden;
    max-height: 2.5vw;
}

.playerDate {
    font-family: Bold;
    font-size: 1.2vw;
    color: $color1;
}

.playerDateSmall {
    font-family: Bold;
    font-size: 0.9vw;
    color: $color1;
}

.playerTimeText {
    font-size: 0.9vw;
}

.playerWrap {
    position: relative;
    width: 100%;
    //min-height: 6vw; //  background-color: $color4;
    //border-radius: 10px;
    // box-shadow: 0 0 5px rgba(0,0,0,.3),inset 0 1px 0 rgba(255,255,255,.2);
    //box-shadow: 0 3px 5px rgba(0,0,0,.6),inset 0 1px 0 rgba(255,255,255,.2);
    //box-sizing: border-box;
    //opacity: 0.8;
}

.playerWrapOuter {
    position: relative;
}

.playerInfoWrap {
    display: flex;
    flex-direction: row;
}

.playerBtnWrap {
    display: flex;
    flex-direction: column;
}

.playerBtn {
    cursor: pointer;
    width: 3.6vw;
    height: 3.6vw;
    border-radius: 0.5vw;
    background-color: $sempa2;
}

.playerWaveformWrap {
    width: 100%;
    height: 3.6vw;
    //border-bottom: 2px solid $color9;
}

.playerWaveform {
    height: 3.6vw;
    width: 0%;
    background-color: $color9;
    border-radius: 6px;
}

.playerCurTime {
    width: 100%;
    min-height: 1.2vw;
    text-align: center;
}

.playerSVG {
    // position: relative;
    fill: $sempa4;
    transition: 2s;
    width: 4.5vw;
    height: 4.5vw;
    margin-top: -0.4vw;
    margin-right: -0.4vw;
}

.playerBtnColorA {
    background-color: $sempa5;
}

.playerBtnColorB {
    background-color: $sempa4;
}

.tagWrapper {
    display: flex;
    flex-direction: row;
}

.playlists {
    margin-left: 1vw;
    cursor: pointer;
}

.playlist {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    width: 0%;
    max-width: 100%;
    height: 0%;
    padding: 1vw;
    white-space: nowrap;
    overflow: hidden;
    background-color: $color2;
}

.playlistitem {
    font-size: 1vw;
    padding: 0.1vw;
}

.tag {
    height: 1.6vw;
    font-size: .7vw;
    opacity: .85;
    padding: .2vw;
}

.timelineWrap {
    font-size: 1vw;
    content: ' ';
}

.ldgMsg {
    padding-top: 1vw;
    padding-left: 2vw;
    color: $sempa5;
    overflow: hidden;
}

.gradientTag1 {
    background: linear-gradient(to right, #FFD799 0%, #E9B565 85%, #E9B565 100%);
}

.gradientTag1end {
    background: linear-gradient(to right, #FFD799 0%, #E9B565 85%);
}

.gradientTag2 {
    background: linear-gradient(to right, #E9B565 0%, #A97320 85%, #b7723e 100%);
}

.gradientTag2end {
    background: linear-gradient(to right, #E9B565 0%, #b7723e 85%);
}

.gradientTag3 {
    background: linear-gradient(to right, #b7723e 0%, #94723e 85%, #905a32 100%);
}

.gradientTag3end {
    background: linear-gradient(to right, #b7723e 0%, #905a32 85%);
}

.gradientTag4 {
    background: linear-gradient(to right, #905a32 0%, #6a4326 85%, #6a4326 100%);
}

.gradientTag4end {
    background: linear-gradient(to right, #905a32 0%, #6a4326 85%);
}

.gradientTag5 {
    background: linear-gradient(to right, #d788fc 0%, #d788fc 85%, #ff58b4 100%);
}

.gradientTag5end {
    background: linear-gradient(to right, #d788fc 0%, #d788fc 85%);
}

.gradientTag6 {
    background: linear-gradient(to right, #ff58b4 0%, #ff58b4 85%, #f73535 100%);
}

.gradientTag6end {
    background: linear-gradient(to right, #ff58b4 0%, #ff58b4 85%);
}

.lenseIcon {
    fill: $color1;
}